
@media only screen and (max-width: 600px) {
    .boyimg{
        background-image: none !important;
        font-size: medium !important;
        
    }
    .mb{
        margin-bottom: 10px !important;
    }
    .graph{
        display: none !important;
    }
  }
  .minibar{
    font-size: 12px;
    font-weight: 600;
    color: #828282;
    margin: 5px 0px !important;
  }
  .graph{
    text-align: right;
}