* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    background-color: inherit;
}

input {
    border: none;
    outline: none;
}
