.market-links{
    text-decoration: none;
    margin: 0px 0.2rem;
    color: #828282;
    font-family: Archivo;
}

.market-box{
    transition: all 0.5s ease-in-out;
}


.market-box:nth-child(1):hover{
    color: white;

}
 .market-box:hover {
    background-color: #009933;

}