@media only screen and (max-width: 600px) {
    .inputbutton{
        justify-content: center;
    }
    .AandA img{
        width: 100%;
    }
  }
  li{
    line-height: 30px;
  }
  .icon img{
    margin: 0px 8px;
  }
  .last{
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: 30px;
        margin-bottom: 80px;
  }

  /* .last img{
    display: block !important;
  } */