

.inputRounded .MuiOutlinedInput-root{
    border-radius: 13px;
 }
 @media (max-width: 600px){
    .create-account-btn{
        padding: 5.5px 13px;
    }
 }






.btns:hover {
    background-color: #009933 !important;
}